* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    user-select: none;
}

#app {
    width: 100vw;
    height: 100vh;
    font-size: 16px;
}

.iconfont {
    font-size: 20px;
    cursor: pointer;
    transition: all .5s;
}

.iconfont:hover {
    transform: rotateY(360deg);
}

#router {
    display: flex;
    justify-content: end;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    padding: 1% 5%;
}

#router nav {
    display: flex;
}

#router a {
    margin-right: 30px;
    display: flex;
    align-items: center;
}

#router a>i {
    margin-right: 5px;
}

#router_view {
    width: 80%;
    height: 80%;
    margin: 0 auto;
}