#app {
    background-image: url('@/assets/hdj-bg.jpg');
    background-size: cover;
}

a {
    color: rgb(78, 78, 78);
}

#router {
    background: linear-gradient(315deg, #ffffffe7, #dddddde7, #cccccce7);
    box-shadow: -20px -20px 60px #a8a8a8,
        20px 20px 60px #f7f7f7;
}